<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp
 * @version    1.7.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<?php echo $this->__("Dear %s", $this->getCustomer()->getName()); ?>,
<br/>
<?php echo $this->__("We would like to remind you that your") ?>
<a href="<?php echo Mage::getUrl('sarp/customer/view', array('id' => $this->getSubscription()->getId()))?>"><?php echo $this->__("subscription")?></a>
<?php echo $this->__("expires at %s.", $this->formatDate($this->getSubscription()->getDateExpire())) ?>
<br/>
<?php echo $this->__("To extend the subscription, please follow this") ?>
<a href="<?php echo Mage::getUrl('sarp/customer/view', array('id' => $this->getSubscription()->getId()))?>"><?php echo $this->__("link")?></a>.
