<?php
/* Change frequency layout file
 *
 *
 *
 *
 *
 */
?>
<div class="page-head button-level">
    <h3><?php echo $this->__('Change Shipment Date');?></h3>
</div>
<div class="">
    <div class="col2-set generic-box">
        <div class="col-1">

            <form action="<?php echo $this->getUrl('*/*/updateshipdate',array('id' => $this->getRequest()->getParam('id'))) ?>" method="POST">
                <h5><?php echo $this->__('Shipment Date'); ?></h5>
                <input type="text" id="shipdate" name="shipdate"/>
                <br/><br/>
                <h5><?php echo $this->__('Permanently change shipment date?'); ?></h5>
                <input type="checkbox" name="perm" value="1">
                <br/><br/>
                <input type="submit" value="Change Shipment Date" />
            </form><br/><br/>
            <div class="button-set">
                <a href="<?php echo $this->getUrl('*/*/view',array('id' => $this->getRequest()->getParam('id'))) ?>" class="left">&laquo; <?php echo $this->__('Back') ?></a>
            </div>
        </div>

    </div>
</div>
