<?php
/* Change frequency layout file
 *
 *
 *
 *
 *
 */
?>
<div class="page-head button-level">
    <h3><?php echo $this->__('Change Period Frequency');?></h3>
</div>
<div class="">
    <div class="col2-set generic-box">
        <div class="col-1">
            <h5><?php echo $this->__('Frequency'); ?></h5>
            <form action="<?php echo $this->getUrl('*/*/update',array('id' => $this->getRequest()->getParam('id'))) ?>" method="POST">
            <select name="period" style="width:200px;">
                <?php
                $data = $this->getSubscriptionType();
                foreach($data as $periods=>$value):
                    ?>
                    <option value="<?php echo $periods; ?>"><?php echo $value; ?></option>
                <?php endforeach;
                ?>
            </select>
                <br/><br/>
                <input type="submit" value="Change Frequency" />
            </form><br/><br/>
            <div class="button-set">
                <a href="<?php echo $this->getUrl('*/*/view',array('id' => $this->getRequest()->getParam('id'))) ?>" class="left">&laquo; <?php echo $this->__('Back') ?></a>
            </div>
        </div>

    </div>
</div>
