<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-head button-level">
    <h3><?php echo $this->getTitle()?></h3>
</div>

<h4> <label>Start Date : </label><?php echo $this->getCurrentDate()?></h4> <br>
<?php print_r($this->getPeriodGone())?>