<h3><?php echo $this->__('Transfer Subscription');?></h3>

<form action="<?php echo Mage::getUrl('subscriptions_admin/subscriptions/transfer',array('id' => $this->getRequest()->getParam('id')))?>" method="post">
    <label><?php echo $this->__('Enter the customers email id :');?></label>
    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
    <input name="emailid" type="email" required/><br/><br/>
    <input type="submit" value="<?php echo $this->__('Transfer Subscription');?>">

</form>