<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp
 * @version    1.7.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>

<?php $subscription = $this->getSubscription() ?>
<?php $_product = $subscription->getProduct() ?>

<div class="product_composite_configure_fields_options">
    <div class="product-options">
        <?php if ($subscription->hasSubscriptionOptions() && $subscription->getProduct()->getAwSarpEnabled()): ?>
        <?php echo $this->getChildHtml('subscription_selector') ?>
        <input type="hidden" name="<?php echo AW_Sarp_Block_Product_View_Type_Subscription::DATE_FIELD_NAME;?>"
               value="<?php echo $this->formatDate($subscription->getDefaultPeriod()->getNearestAvailableDay())?>"/>
        <?php endif; ?>
    </div>
</div>

<?php /* @var $this Mage_Downloadable_Block_Adminhtml_Catalog_Product_Composite_Fieldset_Downloadable */ ?>
<?php $_linksPurchasedSeparately = $this->getLinksPurchasedSeparately(); ?>
<?php if ($this->getProduct()->isSaleable() && $this->hasLinks()): ?>

<div id="catalog_product_composite_configure_fields_downloadable"
     class="<?php echo $this->getIsLastFieldset() ? 'last-fieldset' : '' ?>">
    <h4><?php echo Mage::helper('catalog')->__('Downloadable Information') ?></h4>

    <div class="product-options">
        <dl>
            <?php $_links = $this->getLinks(); ?>
            <?php $_isRequired = $this->getLinkSelectionRequired(); ?>
            <dt>
                <label<?php if ($_isRequired) echo ' class="required"' ?>><?php if ($_isRequired) echo '<em>*</em>' ?><?php echo $this->getLinksTitle() ?></label>
            </dt>
            <dd class="last">
                <ul id="downloadable-links-list" class="options-list">
                    <?php foreach ($_links as $_link): ?>
                    <li>
                        <?php if ($_linksPurchasedSeparately): ?>
                        <input type="checkbox"
                               class="checkbox<?php if ($_isRequired): ?> validate-one-required-by-name<?php endif; ?> product-downloadable-link"
                               name="links[]" id="links_<?php echo $_link->getId() ?>"
                               value="<?php echo $_link->getId(); ?>" <?php echo $this->getLinkCheckedValue($_link); ?>
                               price="<?php echo $this->getCurrencyPrice($_link->getPrice()); ?>"/>
                        <?php endif; ?>
                        <span class="label">
                        <label for="links_<?php echo $_link->getId() ?>">
                            <?php echo $_link->getTitle() ?>
                        </label>
                            <?php if ($_link->getSampleFile() || $_link->getSampleUrl()): ?>
                            &nbsp;(<a
                                    href="<?php echo $this->getLinkSamlpeUrl($_link) ?>" <?php echo $this->getIsOpenInNewWindow()
                                        ? 'onclick="this.target=\'_blank\'"'
                                        : ''; ?>><?php echo Mage::helper('downloadable')->__('sample') ?></a>)
                            <?php endif; ?>
                            <?php if ($_linksPurchasedSeparately): ?>
                            <?php echo $this->getFormattedLinkPrice($_link); ?>
                            <?php endif; ?>
                    </span>
                        <?php if ($_isRequired): ?>
                        <script type="text/javascript">
                            //<![CDATA[
                            $('links_<?php echo $_link->getId() ?>').advaiceContainer = 'links-advice-container';
                            $('links_<?php echo $_link->getId() ?>').callbackFunction = 'validateDownloadableCallback';
                            //]]>
                        </script>
                        <?php endif; ?>
                    </li>
                    <?php endforeach; ?>
                </ul>

                <?php if ($_isRequired): ?>
                <span id="links-advice-container"></span>
                <?php endif;?>
            </dd>
        </dl>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    validateDownloadableCallback = function (elmId, result) {
        var container = $('downloadable-links-list');
        if (result == 'failed') {
            container.removeClassName('validation-passed');
            container.addClassName('validation-failed');
        } else {
            container.removeClassName('validation-failed');
            container.addClassName('validation-passed');
        }
    }
    //]]>
</script>
<?php endif; ?>



