<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp
 * @version    1.7.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<?php $_item = $this->getItem() ?>
<tr class="border" id="order-item-row-<?php echo $_item->getId() ?>">
<td><h5 class="title"><?php echo $this->htmlEscape($_item->getName()) ?></h5>

    <?php if ($_options = $this->getItemOptions()): ?>
        <dl class="item-options">
            <?php foreach ($_options as $_option) : ?>
            <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
            <?php if (!$this->getPrintStatus()): ?>
                <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
                    <?php echo $_formatedOptionValue['value'] ?>
                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                    <div class="truncated_full_value">
                        <dl class="item-options">
                            <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
                            <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
                        </dl>
                    </div>
                    <?php endif; ?>
                </dd>
                <?php else: ?>
                <dd><?php echo $this->htmlEscape((isset($_option['print_value']) ? $_option['print_value']
                            : $_option['value'])) ?></dd>
                <?php endif; ?>
            <?php endforeach; ?>
        </dl>
        <?php endif; ?>
    <?php echo $_item->getDescription() ?>
    <?php if ($this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $_item) && $_item->getGiftMessageId()): ?>
        <br/><a href="#" id="order-item-gift-message-link-<?php echo $_item->getId() ?>"
                class="giftmessage-preview-link expand"
                onclick="return giftMessageToogle('<?php echo $_item->getId() ?>')"><?php echo Mage::helper('sales')->__('Gift Message') ?></a>
        <?php endif; ?>
</td>
<td><?php echo Mage::helper('core/string')->splitInjection($this->getSku()) ?></td>
<td class="a-right nowrap">
    <?php if ($this->helper('tax')->displayCartBothPrices() || $this->helper('tax')->displayCartPriceExclTax()): ?>
    <span class="price-excl-tax">
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <div class="cart-price">
                    <?php endif; ?>
        <span class="label"><?php echo Mage::helper('sales')->__('Excl. Tax'); ?>:</span>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </div>
                    <?php endif; ?>
        <?php endif; ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <div class="cart-tax-total"
                         onclick="taxToggle('eunit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <div class="cart-price">
                <?php endif; ?>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
        <?php echo $this->getOrder()->formatPrice($this->getItem()->getPrice() + $this->getItem()->getWeeeTaxAppliedAmount() + $this->getItem()->getWeeeTaxDisposition()); ?>
        <?php else: ?>
        <?php echo $this->getOrder()->formatPrice($this->getItem()->getPrice()) ?>
        <?php endif; ?>

    </div>


        <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

        <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $this->getItem()->getId(); ?>"
             style="display: none;">
            <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['amount']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><small><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['amount_incl_tax']); ?></small></span>
                <?php endforeach; ?>
            <?php  elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['amount_incl_tax']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php endif; ?>
        </div>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <div class="cart-tax-total"
                 onclick="taxToggle('eunit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>
                    :<br/> <?php echo $this->getOrder()->formatPrice($this->getItem()->getPrice() + $this->getItem()->getWeeeTaxAppliedAmount() + $this->getItem()->getWeeeTaxDisposition()); ?></span>
            </div>
            <?php endif; ?>
        <?php endif; ?>
            </span>
    <br/>
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartBothPrices() || $this->helper('tax')->displayCartPriceInclTax()): ?>
    <span class="price-incl-tax">
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <div class="cart-price">
                    <?php endif; ?>
        <span class="label"><?php echo Mage::helper('sales')->__('Incl. Tax'); ?>:</span>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </div>
                    <?php endif; ?>
        <?php endif; ?>
        <?php $_incl = $this->helper('checkout')->getPriceInclTax($this->getItem()); ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <div class="cart-tax-total"
                         onclick="taxToggle('unit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <div class="cart-price">
                <?php endif; ?>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
        <?php echo $this->getOrder()->formatPrice($_incl + $this->getItem()->getWeeeTaxAppliedAmount()); ?>
        <?php else: ?>
        <?php echo $this->getOrder()->formatPrice($_incl - $this->getItem()->getWeeeTaxDisposition()) ?>
        <?php endif; ?>

    </div>


        <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

        <div class="cart-tax-info" id="unit-item-tax-details<?php echo $this->getItem()->getId(); ?>"
             style="display: none;">
            <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['amount']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><small><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['amount_incl_tax']); ?></small></span>
                <?php endforeach; ?>
            <?php  elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['amount_incl_tax']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php endif; ?>
        </div>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <div class="cart-tax-total"
                 onclick="taxToggle('unit-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>
                    :<br/> <?php echo $this->getOrder()->formatPrice($_incl + $this->getItem()->getWeeeTaxAppliedAmount()); ?></span>
            </div>
            <?php endif; ?>
        <?php endif; ?>
            </span>
    <?php endif; ?>
</td>
<td class="a-right nowrap">
        <span class="nobr">
                <?php if ($this->getItem()->getQtyOrdered() > 0): ?>
            <?php echo Mage::helper('sales')->__('Ordered'); ?>:
            <strong><?php echo $this->getItem()->getQtyOrdered() * 1 ?></strong><br/>
            <?php endif; ?>
            <?php if ($this->getItem()->getQtyShipped() > 0): ?>
            <?php echo Mage::helper('sales')->__('Shipped'); ?>:
            <strong><?php echo $this->getItem()->getQtyShipped() * 1 ?></strong><br/>
            <?php endif; ?>
            <?php if ($this->getItem()->getQtyCanceled() > 0): ?>
            <?php echo Mage::helper('sales')->__('Canceled'); ?>:
            <strong><?php echo $this->getItem()->getQtyCanceled() * 1 ?></strong><br/>
            <?php endif; ?>
            <?php if ($this->getItem()->getQtyRefunded() > 0): ?>
            <?php echo Mage::helper('sales')->__('Refunded'); ?>:
            <strong><?php echo $this->getItem()->getQtyRefunded() * 1 ?></strong><br/>
            <?php endif; ?>
        </span>
</td>
<td class="a-right nowrap">
    <?php if ($this->helper('tax')->displayCartBothPrices() || $this->helper('tax')->displayCartPriceExclTax()): ?>
    <span class="price-excl-tax">
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <div class="cart-price">
                    <?php endif; ?>
        <span class="label"><?php echo Mage::helper('sales')->__('Excl. Tax'); ?>:</span>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </div>
                    <?php endif; ?>
        <?php endif; ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <div class="cart-tax-total"
                         onclick="taxToggle('esubtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <div class="cart-price">
                <?php endif; ?>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
        <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal() + $this->getItem()->getWeeeTaxAppliedRowAmount() + $this->getItem()->getWeeeTaxRowDisposition()); ?>
        <?php else: ?>
        <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal()) ?>
        <?php endif; ?>

    </div>


        <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

        <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>"
             style="display: none;">
            <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['row_amount']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><small><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['row_amount_incl_tax']); ?></small></span>
                <?php endforeach; ?>
            <?php  elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['row_amount_incl_tax']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php endif; ?>
        </div>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <div class="cart-tax-total"
                 onclick="taxToggle('esubtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>
                    :<br/> <?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal() + $this->getItem()->getWeeeTaxAppliedRowAmount() + $this->getItem()->getWeeeTaxRowDisposition()); ?></span>
            </div>
            <?php endif; ?>
        <?php endif; ?>
            </span>
    <br/>
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartBothPrices() || $this->helper('tax')->displayCartPriceInclTax()): ?>
    <span class="price-incl-tax">
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        <div class="cart-price">
                    <?php endif; ?>
        <span class="label"><?php echo Mage::helper('sales')->__('Incl. Tax'); ?>:</span>
        <?php if (!Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                        </div>
                    <?php endif; ?>
        <?php endif; ?>
        <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($this->getItem()); ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
                    <div class="cart-tax-total"
                         onclick="taxToggle('subtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <?php else: ?>
                    <div class="cart-price">
                <?php endif; ?>
        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), array(0, 1, 4), 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
        <?php echo $this->getOrder()->formatPrice($_incl + $this->getItem()->getWeeeTaxAppliedRowAmount()); ?>
        <?php else: ?>
        <?php echo $this->getOrder()->formatPrice($_incl - $this->getItem()->getWeeeTaxRowDisposition()) ?>
        <?php endif; ?>

    </div>


        <?php if (Mage::helper('weee')->getApplied($this->getItem())): ?>

        <div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>"
             style="display: none;">
            <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 1, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['row_amount']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><small><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['row_amount_incl_tax']); ?></small></span>
                <?php endforeach; ?>
            <?php  elseif (Mage::helper('weee')->typeOfDisplay($this->getItem(), 4, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <small>
                <?php foreach (Mage::helper('weee')->getApplied($this->getItem()) as $tax): ?>
                <span class="nobr"><?php echo $tax['title']; ?>
                    : <?php echo $this->getOrder()->formatPrice($tax['row_amount_incl_tax']); ?></span>
                <?php endforeach; ?>
            </small>
            <?php endif; ?>
        </div>

        <?php if (Mage::helper('weee')->typeOfDisplay($this->getItem(), 2, 'sales') && (float)$this->getItem()->getWeeeTaxAppliedAmount()): ?>
            <div class="cart-tax-total"
                 onclick="taxToggle('subtotal-item-tax-details<?php echo $this->getItem()->getId(); ?>', this, 'cart-tax-total-expanded');">
                <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>
                    :<br/> <?php echo $this->getOrder()->formatPrice($_incl + $this->getItem()->getWeeeTaxAppliedRowAmount()); ?></span>
            </div>
            <?php endif; ?>
        <?php endif; ?>



            </span>
    <?php endif; ?>
</td>
<!--
    <?php if ($this->helper('tax')->displayCartBothPrices() || $this->helper('tax')->displayCartPriceExclTax()): ?>
    <th class="nowrap a-right"><?php echo $this->getOrder()->formatPrice($this->getItem()->getRowTotal()) ?></th>
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartBothPrices() || $this->helper('tax')->displayCartPriceInclTax()): ?>
    <th class="nowrap a-right"><?php echo $this->getOrder()->formatPrice($this->helper('checkout')->getSubtotalInclTax($this->getItem())); ?></th>
    <?php endif; ?>
    -->
</tr>