<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp
 * @version    1.7.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php echo $this->getChildHtml('real_notification_toolbar') ?>
<?php if (Mage::getModel('sarp/subscription')->issetSuspendedSubscription() && Mage::app()->getRequest()->getControllerName() != 'subscriptions'): ?>
<div class="notification-global-notice notification-global">
    <strong><?php echo Mage::helper('sarp')->__('You have suspended subscriptions!')?></strong>
    Click <a
        href="<?php echo Mage::helper("adminhtml")->getUrl("sarp_admin/subscriptions/index", array("only_suspended" => 1))?>">here</a>
    to see more.
</div>
<?php endif; ?>